 .cartitems {
     margin: 300px 170px;
     margin-top: 100px;
 }

 .cartitems hr {
     height: 3px;
     background: #e2e2e2;
     border: 0;
 }

 .cartitem-format-main {
     display: grid;
     grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
     align-items: center;
     gap: 75px;
     padding: 20px 0px;
     color: #454545;
     font-size: 18px;
     font-weight: 600;
 }

 .cartitems-format {
     font-size: 17px;
     font-weight: 500;
 }

 .carticon-product-icon {
     height: 62px;
 }


 .cartitems-remove-icon {
     width: 15px;
     margin: 0px 40px;
     cursor: pointer;
 }

 .cartitems-quantity {
     width: 64px;
     height: 50px;
     border: 2px solid #ebebeb;
     background: #fff;
 }

 .cartitems-quantity:hover {
     background-color: rgb(244, 243, 243);
 }

 .cartitems-down {
     display: flex;
     margin: 100px 0px;
 }

 .cartitems-total {
     flex: 1;
     display: flex;
     flex-direction: column;
     margin-right: 200px;
     gap: 40px;
 }

 .cartitems-total-item {
     display: flex;
     justify-content: space-between;
     padding: 15px 0px;
 }

 .cartitems-total-item label{
    display: block;
    font-size: 1.17em;
    font-weight: bold; 
    margin: 0.67em 0; 
    color: #333;
 }

 .cartitems-total-item input{
    display: block;
    background: #eaeaea;
    border: none;
    border-radius: 6px;
    width: 200px;
    outline: none;
    padding-left: 10px;
 }

 .cartitems-promocode .checkout-button{ 
    position: relative;
    top: 70px;
    margin-left: 250px;
     width: 262px;
     height: 58px;
     outline: none;
     border: none;
     background: #ff5a5a;
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
 }

 .cartitems-promocode {
     flex: 1;
     font-size: 16px;
     font-weight: 500;
 }

 .cartitems-promocode p {
     color: #555;
 }

 .cartitems-promobox {
     width: 504px;
     margin-top: 15px;
     padding-left: 20px;
     height: 50px;
     background: #eaeaea;
 }

.cartitems-promobox input:disabled,
.cartitems-promobox button:disabled {
  opacity: 0.6; 
  cursor: not-allowed; 
}


 .cartitems-promobox input {
     border: none;
     outline: none;
     background: transparent;
     font-size: 16px;
     width: 330px;
     height: 50px;
 }

 .cartitems-promobox button {
     width: 170px;
     height: 50px;
     font-size: 16px;
     background: black;
     color: white;
     cursor: pointer;
 }

.cartitems-promocode .promoCode-error{
    color: red;
    padding-left: 10px;
    padding-top: 4px;
 }

.cartitems-promocode .promoCode-acknowledgement{
    color: #50C878;
    padding-left: 10px;
    padding-top: 4px;
 }

 .cartitems-promocode .name-box{
    /* padding-top: 100px; */
    margin-bottom: 50px;
 }

 .cartitems-promocode .name-box p{
    color: rgb(173, 172, 172);
    padding-bottom: 10px;
 }

 .cartitems-promocode .name-box input{
    display: block;
    background: #eaeaea;
    border: none;
    border-radius: 6px;
    width: 500px;
    height: 60px;
    outline: none;
    padding-left: 10px;
 }

 .cartitems-promocode .name-box .error-message{
    color: red;
    margin: 10px auto;
 }

 .cart .error-message{
    color: red;
    margin: 10px auto;
 }

 .cartitems-promocode .cartitems-totals{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .cartitems-promocode hr{
    margin-top: 10px;
 }

 @media(max-width:1280px) {
     .cartitems {
         margin: 60px 50px;
     }

     .cartitem-format-main {
         grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
         gap: 20px;
         padding: 15px 0px;
         font-size: 15px;
     }

     .carticon-product-icon {
         height: 50px;
     }

     .cartitems-remove-icon {
         margin: auto;
     }

     .cartitems-quantity {
         width: 40px;
         height: 30px;
     }

     .cartitems-down {
         margin: 80px 0px;
         flex-direction: column;
         gap: 80px;
     }

     .cartitems-total {
         margin: 0;
     }

     .cartitems-total button {
         max-width: 200px;
         height: 45px;
         font-size: 13px;
     }

     .cartitems-promobox {
         width: auto;
         display: flex;
         flex-direction: row;
         max-width: 500px;
     }

     .cartitems-promobox input {
         width: 100%;
     }
 }


 @media(max-width:500px) {
     .cartitem-format-main {
         display: none;
         grid-template-columns: 0.5fr 3fr 0.5fr;
         gap: 10px;
     }

     .cartitems-format {
         display: grid;
     }

     .cartitems-promocode .checkout-button{
        margin-left: auto;
        font-size: 12px;
        width: 200px;
     }
     
     .cartitems-total-item label{
        font-size: 12px;
     }
 }

 @media(max-width:410px){
    .cartitems-total-item input{
        width: 160px;
     }
 }