.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 30px;
    height: 400px;
    margin-top: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img{
    height: 200px;
}

.footer-logo p {
    color: #383838;
    width: 110px;
    font-size: 36px;
    font-family: fantasy;
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

.footer .credentials{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.footer .credentials p:hover{
    color: red;
    text-decoration: underline;
}

@media(max-width:800px) {
    .footer {
        height: 350px;
        gap: 20px;
    }

    .footer-logo {
        gap: 10px;
    }

    /* .footer-logo img {
        width: 40px;
    } */

    .footer .credentials{
        font-size: 12px;
        width: 300px;
    }

    .footer-logo p {
        font-size: 25px;
    }

    .footer-copyright {
        font-size: 13px;
    }
}